.box{
  background: #fff;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  .header{
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(to right, #40a9ff , #1890ff);
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content{
    width: 80%;
    margin: 10px auto;
    .lineStyle{
      width: 100%;
      height: 1PX;
      background: #d8d8d8;
      margin-bottom: 6px;
    }
    .calendar{
      color: #999999;
      font-size: 12px;
    }
    .img{
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
    .icon{
      color: #1296db;
      font-size: 13px;
      margin-left: 10px;
      margin-right: 5px;
    }
    .title{
      display: flex;
      align-items: center;
      font-size: 12px;
    }
    .tit{
      font-weight: bold;
      font-size: 14px;
    }
    .note{
      padding: 15px;
    }
    .code{
      background: #f2f2f2;
      padding: 6px;
      border: 1px solid #d8d8d8;
    }
    .codeTitle{
      color: #4a4a4a;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}
