p{
  margin-bottom: 0;
  font-size: 14px;
}

.box{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: url('https://my-orb.github.io/wyd/static/background.png') center no-repeat;
  background-size: cover;
  .content{
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    .title{
      height: 150px;
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      border-radius: 15px;
      .img{
        width: 75px;
        height: 75px;
        border-radius: 10px;
        margin-right: 32px;
      }
      .name{
        color: #000;
        font-size: 30px;
        cursor: pointer;
      }
      .intro{
        //color: #fff;
        font-size: 12px;
      }
    }
    .contentBot{
      display: flex;
      .left{
        width: 21%;
        box-sizing: border-box;
        .goBlog{
          cursor: pointer;
          color: #40a9ff;
        }
        .info{
          width: 100%;
          padding: 15px;
          height: 235px;
          background: #E8EDFF 100%;
          margin-bottom: 10px;
          border-radius: 5px;
        }
        .phone{
          width: 100%;
          padding: 15px;
          border-radius: 5px;
          height: 235px;
          background: #E6F4FF 100%;
        }
      }
      .right{
        width: 78%;
        padding: 15px;
        margin-left: 1%;
        background: #fff;
        border-radius: 5px;
        box-sizing: border-box;
        .highLight{
          color: #faad14;
        }
        .rightTitle{
          font-size: 22px;
          color: #4a4a4a;
        }
        .companyName{
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 18px;
          color: #2a2a2a;
        }
        .workCon{
          font-size: 16px;
          color: #000;
        }
      }
    }
  }
}